USE [master]
GO
/****** Object:  Database [Diplomski]    Script Date: 13.01.2024. 20:51:23 ******/
CREATE DATABASE [Diplomski]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Diplomski', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DIPLOMSKI\MSSQL\DATA\Diplomski.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Diplomski_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DIPLOMSKI\MSSQL\DATA\Diplomski_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Diplomski].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Diplomski]
GO
/****** Object:  Schema [administracija]    Script Date: 13.01.2024. 20:51:23 ******/
CREATE SCHEMA [administracija]
GO
/****** Object:  Schema [pitanja]    Script Date: 13.01.2024. 20:51:23 ******/
CREATE SCHEMA [pitanja]
GO
/****** Object:  Table [dbo].[BRACNI_STATUS_FERTILITET]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRACNI_STATUS_FERTILITET](
	[id_popisavac] [int] NOT NULL,
	[id_osobe] [int] NOT NULL,
	[pitanje9] [nvarchar](50) NULL,
	[pitanje10] [nvarchar](50) NULL,
	[pitanje11] [nchar](10) NULL,
	[pitanje11_dete1] [nchar](10) NULL,
	[pitanje11_dete2] [nchar](10) NULL,
	[pitanje11_dete3] [nchar](10) NULL,
	[pitanje11_najmladje] [nchar](10) NULL,
 CONSTRAINT [PK_BRACNISTATUSFERTILITET] PRIMARY KEY CLUSTERED 
(
	[id_osobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DRZAVE]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRZAVE](
	[id_drzave] [int] IDENTITY(0,1) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DRZAVE] PRIMARY KEY CLUSTERED 
(
	[id_drzave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EKONOMSKA_AKTIVNOST]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EKONOMSKA_AKTIVNOST](
	[id_popisivac] [int] NOT NULL,
	[id_osobe] [int] NOT NULL,
	[pitanje19] [nvarchar](50) NULL,
	[pitanje20] [nvarchar](50) NULL,
	[pitanje21] [nvarchar](50) NULL,
	[pitanje22] [nvarchar](50) NULL,
	[pitanje23] [nvarchar](50) NULL,
	[pitanje24] [nvarchar](50) NULL,
	[pitanje25] [nvarchar](50) NULL,
	[pitanje26] [nvarchar](100) NULL,
	[pitanje27] [nvarchar](50) NULL,
	[pitanje28_opstina] [nvarchar](50) NULL,
	[pitanje28_naselje] [nvarchar](50) NULL,
	[pitanje28_ulica] [nvarchar](50) NULL,
	[pitanje28_broj] [nvarchar](50) NULL,
	[pitanje29] [nvarchar](50) NULL,
	[pitanje30] [nvarchar](50) NULL,
 CONSTRAINT [PK_EKONOMSKA_AKTIVNOST] PRIMARY KEY CLUSTERED 
(
	[id_osobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETNO_KULTURA]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETNO_KULTURA](
	[id_popisivac] [int] NOT NULL,
	[id_osobe] [int] NOT NULL,
	[pitanje_12] [nvarchar](50) NULL,
	[pitanje_13] [nvarchar](50) NOT NULL,
	[pitanje_14] [nvarchar](50) NULL,
 CONSTRAINT [PK_ETNOKULTURA] PRIMARY KEY CLUSTERED 
(
	[id_osobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST](
	[id_popisivac] [int] NOT NULL,
	[id_osobe] [int] NOT NULL,
	[pitanje32_1] [nvarchar](50) NULL,
	[pitanje32_2] [nvarchar](50) NULL,
	[pitanje32_3] [nvarchar](50) NULL,
	[pitanje32_4] [nvarchar](50) NULL,
	[pitanje32_5] [nvarchar](50) NULL,
	[pitanje32_6] [nvarchar](50) NULL,
 CONSTRAINT [PK_FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST] PRIMARY KEY CLUSTERED 
(
	[id_osobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRAD]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRAD](
	[id_grada] [int] IDENTITY(0,1) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[sifra_grada] [nvarchar](6) NOT NULL,
	[sifra_okruga] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_GRAD] PRIMARY KEY CLUSTERED 
(
	[sifra_grada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MIGRACIJE]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIGRACIJE](
	[id_popisivac] [int] NOT NULL,
	[id_osobe] [int] NOT NULL,
	[pitanje3_mesto] [nvarchar](100) NULL,
	[pitanje3_naselje] [nvarchar](100) NULL,
	[pitanje3_drzava] [nvarchar](100) NULL,
	[pitanje4] [nvarchar](100) NOT NULL,
	[pitanje5] [nvarchar](100) NOT NULL,
	[pitanje5_1] [nvarchar](100) NULL,
	[pitanje5_2] [nvarchar](100) NULL,
	[pitanje5_3] [nvarchar](100) NULL,
	[pitanje6] [nvarchar](100) NULL,
	[pitanje6_1] [nvarchar](100) NULL,
	[pitanje6_2] [nvarchar](100) NULL,
	[pitanje7] [nvarchar](100) NOT NULL,
	[pitanje7_1] [nvarchar](100) NULL,
	[pitanje7_2] [nvarchar](100) NULL,
	[pitanje7_3] [nvarchar](100) NULL,
	[pitanje8] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_MIGRACIJE] PRIMARY KEY CLUSTERED 
(
	[id_osobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NASELJE]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NASELJE](
	[id_naselja] [int] NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[sifra_naselja] [nvarchar](50) NOT NULL,
	[sifra_opstine] [nvarchar](6) NOT NULL,
	[tip_naselja] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_aaaa] PRIMARY KEY CLUSTERED 
(
	[id_naselja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NSTJ1]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NSTJ1](
	[id_nstj1] [int] NOT NULL,
	[naziv] [ntext] NOT NULL,
	[sifra_oblasti] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_NSTJ1] PRIMARY KEY CLUSTERED 
(
	[id_nstj1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NSTJ2]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NSTJ2](
	[id_nstj2] [int] NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[sifra_oblasti] [nvarchar](5) NOT NULL,
	[sifra_nstj1] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_NSTJ2] PRIMARY KEY CLUSTERED 
(
	[id_nstj2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NSTJ3]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NSTJ3](
	[id_oblasti] [int] NOT NULL,
	[naziv] [nvarchar](50) NULL,
	[sifra_oblasti] [nvarchar](50) NULL,
	[sifra_nstj2] [nvarchar](50) NULL,
 CONSTRAINT [PK_NSTJ3] PRIMARY KEY CLUSTERED 
(
	[id_oblasti] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[O_DOMACINSTVU]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_DOMACINSTVU](
	[id_popisivac] [int] NOT NULL,
	[id_objekta] [int] NOT NULL,
	[pitanje23] [nvarchar](100) NOT NULL,
	[pitanje24] [nvarchar](5) NULL,
	[pitanje24_1] [nvarchar](5) NULL,
	[pitanje24_2] [nvarchar](5) NULL,
	[pitanje24_3] [nvarchar](100) NULL,
 CONSTRAINT [PK_O_DOMACINSTVU] PRIMARY KEY CLUSTERED 
(
	[id_objekta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[O_STANU]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_STANU](
	[id_popisivac] [int] NOT NULL,
	[id_objekta] [int] NOT NULL,
	[pitanje8] [nvarchar](100) NOT NULL,
	[pitanje8_1] [nvarchar](100) NULL,
	[pitanje9] [nvarchar](100) NULL,
	[pitanje10] [nvarchar](100) NULL,
	[pitanje11] [nvarchar](100) NULL,
	[pitanje12] [nvarchar](100) NULL,
	[pitanje13] [nvarchar](100) NULL,
	[pitanje14_1] [nvarchar](100) NULL,
	[pitanje14_2] [nvarchar](100) NULL,
	[pitanje14_3] [nvarchar](100) NULL,
	[pitanje14_4] [nvarchar](100) NULL,
	[pitanje14_5] [nvarchar](100) NULL,
	[pitanje15] [nvarchar](100) NULL,
	[pitanje16] [nvarchar](100) NULL,
	[pitanje17] [nvarchar](100) NULL,
	[pitanje18] [nvarchar](100) NULL,
	[pitanje19] [nvarchar](100) NULL,
	[pitanje20] [nvarchar](100) NULL,
	[pitanje21] [nvarchar](100) NULL,
	[pitanje22] [nvarchar](100) NULL,
	[pitanje23] [nvarchar](100) NULL,
 CONSTRAINT [PK_O_STANU] PRIMARY KEY CLUSTERED 
(
	[id_objekta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[O_ZGRADI]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_ZGRADI](
	[id_popisivac] [int] NOT NULL,
	[id_objekta] [int] NOT NULL,
	[pitanje_1] [nvarchar](100) NOT NULL,
	[pitanje_2] [nvarchar](100) NULL,
	[pitanje_3] [nvarchar](100) NULL,
	[pitanje_4] [nvarchar](100) NULL,
	[pitanje_5] [nvarchar](100) NULL,
	[pitanje_6] [nvarchar](100) NULL,
	[pitanje_7] [nvarchar](100) NULL,
 CONSTRAINT [PK_O_ZGRADI] PRIMARY KEY CLUSTERED 
(
	[id_objekta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBJEKAT]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJEKAT](
	[id_popisivac] [int] NOT NULL,
	[id_osobe] [int] NOT NULL,
	[id_objekta] [int] NOT NULL,
	[opstina] [nvarchar](100) NULL,
	[naselje] [nvarchar](100) NULL,
	[ulica] [nvarchar](100) NOT NULL,
	[broj_objekta] [nvarchar](10) NOT NULL,
	[broj_stana] [nvarchar](10) NULL,
 CONSTRAINT [PK_OBJEKAT] PRIMARY KEY CLUSTERED 
(
	[id_osobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBRAZOVANJE]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBRAZOVANJE](
	[id_popisivac] [int] NOT NULL,
	[id_osobe] [int] NOT NULL,
	[pitanje_15] [nvarchar](100) NULL,
	[pitanje_16] [nvarchar](100) NOT NULL,
	[pitanje_16_1opstina] [nvarchar](100) NULL,
	[pitanje_16_1naselje] [nvarchar](100) NULL,
	[pitanje_16_1naziv] [nvarchar](100) NULL,
	[pitanje_16_1ulica] [nvarchar](100) NULL,
	[pitanje_16_1broj] [nvarchar](10) NULL,
	[pitanje_16_1drzava] [nvarchar](100) NULL,
	[pitanje_16_2] [nvarchar](100) NULL,
	[pitanje_17] [nvarchar](100) NULL,
	[pitanje_18] [nvarchar](200) NULL,
 CONSTRAINT [PK_OBRAZOVANJE] PRIMARY KEY CLUSTERED 
(
	[id_osobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPSTINA]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPSTINA](
	[id_opstina] [int] IDENTITY(0,1) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[sifra_opstine] [nvarchar](6) NOT NULL,
	[sifra_okruga] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_OPSTINA] PRIMARY KEY CLUSTERED 
(
	[sifra_opstine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OSOBA]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OSOBA](
	[id_popisivac] [int] NOT NULL,
	[id_osobe] [int] NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
	[pol] [nvarchar](50) NOT NULL,
	[datum_rodjenja] [date] NOT NULL,
	[maticni_broj] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OSOBA] PRIMARY KEY CLUSTERED 
(
	[id_osobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POPISIVAC]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POPISIVAC](
	[id_popisivaca] [int] NOT NULL,
	[maticni_broj] [nvarchar](50) NULL,
	[licna_karta] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[sifra] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_POPISIVAC] PRIMARY KEY CLUSTERED 
(
	[id_popisivaca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREVOZ]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREVOZ](
	[id_popisivac] [int] NOT NULL,
	[id_osobe] [int] NOT NULL,
	[pitanje31] [nvarchar](100) NULL,
 CONSTRAINT [PK_PREVOZ] PRIMARY KEY CLUSTERED 
(
	[id_osobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmp_BRACNI_STATUS_FERTILITET]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_BRACNI_STATUS_FERTILITET](
	[id_popisivac] [int] NOT NULL,
	[id_osobe] [int] NOT NULL,
	[pitanje9] [nvarchar](50) NULL,
	[pitanje10] [nvarchar](50) NULL,
	[pitanje11] [nchar](10) NULL,
	[pitanje11_dete1] [nchar](10) NULL,
	[pitanje11_dete2] [nchar](10) NULL,
	[pitanje11_dete3] [nchar](10) NULL,
	[pitanje11_najmladje] [nchar](10) NULL,
 CONSTRAINT [PK_tmp_BRACNI_STATUS_FERTILITET] PRIMARY KEY CLUSTERED 
(
	[id_osobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmp_EKONOMSKA_AKTIVNOST]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_EKONOMSKA_AKTIVNOST](
	[id_popisivac] [int] NOT NULL,
	[id_osobe] [int] NOT NULL,
	[pitanje19] [nvarchar](50) NULL,
	[pitanje20] [nvarchar](50) NULL,
	[pitanje21] [nvarchar](50) NULL,
	[pitanje22] [nvarchar](50) NULL,
	[pitanje23] [nvarchar](50) NULL,
	[pitanje24] [nvarchar](50) NULL,
	[pitanje25] [nvarchar](50) NULL,
	[pitanje26] [nvarchar](100) NULL,
	[pitanje27] [nvarchar](50) NULL,
	[pitanje28_opstina] [nvarchar](50) NULL,
	[pitanje28_naselje] [nvarchar](50) NULL,
	[pitanje28_ulica] [nvarchar](50) NULL,
	[pitanje28_broj] [nvarchar](50) NULL,
	[pitanje29] [nvarchar](50) NULL,
	[pitanje30] [nvarchar](50) NULL,
 CONSTRAINT [PK_tmp_EKONOMSKA_AKTIVNOST] PRIMARY KEY CLUSTERED 
(
	[id_osobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmp_ETNO_KULTURA]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_ETNO_KULTURA](
	[id_popisivac] [int] NOT NULL,
	[id_osobe] [int] NOT NULL,
	[pitanje_12] [nvarchar](50) NULL,
	[pitanje_13] [nvarchar](50) NOT NULL,
	[pitanje_14] [nvarchar](50) NULL,
 CONSTRAINT [PK_tmp_ETNO_KULTURA] PRIMARY KEY CLUSTERED 
(
	[id_osobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmp_FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST](
	[id_popisivac] [int] NOT NULL,
	[id_osobe] [int] NOT NULL,
	[pitanje32_1] [nvarchar](50) NULL,
	[pitanje32_2] [nvarchar](50) NULL,
	[pitanje32_3] [nvarchar](50) NULL,
	[pitanje32_4] [nvarchar](50) NULL,
	[pitanje32_5] [nvarchar](50) NULL,
	[pitanje32_6] [nvarchar](50) NULL,
 CONSTRAINT [PK_tmp_FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST] PRIMARY KEY CLUSTERED 
(
	[id_osobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmp_MIGRACIJE]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_MIGRACIJE](
	[id_popisivac] [int] NOT NULL,
	[id_osobe] [int] NOT NULL,
	[pitanje3_mesto] [nvarchar](100) NULL,
	[pitanje3_naselje] [nvarchar](100) NULL,
	[pitanje3_drzava] [nvarchar](100) NULL,
	[pitanje4] [nvarchar](100) NOT NULL,
	[pitanje5] [nvarchar](100) NOT NULL,
	[pitanje5_1] [nvarchar](100) NULL,
	[pitanje5_2] [nvarchar](100) NULL,
	[pitanje5_3] [nvarchar](100) NULL,
	[pitanje6] [nvarchar](100) NULL,
	[pitanje6_1] [nvarchar](100) NULL,
	[pitanje6_2] [nvarchar](100) NULL,
	[pitanje7] [nvarchar](100) NOT NULL,
	[pitanje7_1] [nvarchar](100) NULL,
	[pitanje7_2] [nvarchar](100) NULL,
	[pitanje7_3] [nvarchar](100) NULL,
	[pitanje8] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_tmp_MIGRACIJE] PRIMARY KEY CLUSTERED 
(
	[id_osobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmp_O_DOMACINSTVU]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_O_DOMACINSTVU](
	[id_popisivac] [int] NOT NULL,
	[id_objekta] [int] NOT NULL,
	[pitanje23] [nvarchar](100) NOT NULL,
	[pitanje24] [nvarchar](5) NULL,
	[pitanje24_1] [nvarchar](5) NULL,
	[pitanje24_2] [nvarchar](5) NULL,
	[pitanje24_3] [nvarchar](100) NULL,
 CONSTRAINT [PK_tmp_O_DOMACINSTVU] PRIMARY KEY CLUSTERED 
(
	[id_objekta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmp_O_STANU]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_O_STANU](
	[id_popisivac] [int] NOT NULL,
	[id_objekta] [int] NOT NULL,
	[pitanje8] [nvarchar](100) NOT NULL,
	[pitanje8_1] [nvarchar](100) NULL,
	[pitanje9] [nvarchar](100) NULL,
	[pitanje10] [nvarchar](100) NULL,
	[pitanje11] [nvarchar](100) NULL,
	[pitanje12] [nvarchar](100) NULL,
	[pitanje13] [nvarchar](100) NULL,
	[pitanje14_1] [nvarchar](100) NULL,
	[pitanje14_2] [nvarchar](100) NULL,
	[pitanje14_3] [nvarchar](100) NULL,
	[pitanje14_4] [nvarchar](100) NULL,
	[pitanje14_5] [nvarchar](100) NULL,
	[pitanje15] [nvarchar](100) NULL,
	[pitanje16] [nvarchar](100) NULL,
	[pitanje17] [nvarchar](100) NULL,
	[pitanje18] [nvarchar](100) NULL,
	[pitanje19] [nvarchar](100) NULL,
	[pitanje20] [nvarchar](100) NULL,
	[pitanje21] [nvarchar](100) NULL,
	[pitanje22] [nvarchar](100) NULL,
	[pitanje23] [nvarchar](100) NULL,
 CONSTRAINT [PK_tmp_O_STANU] PRIMARY KEY CLUSTERED 
(
	[id_objekta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmp_O_ZGRADI]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_O_ZGRADI](
	[id_popisivac] [int] NOT NULL,
	[id_objekta] [int] NOT NULL,
	[pitanje_1] [nvarchar](100) NOT NULL,
	[pitanje_2] [nvarchar](100) NULL,
	[pitanje_3] [nvarchar](100) NULL,
	[pitanje_4] [nvarchar](100) NULL,
	[pitanje_5] [nvarchar](100) NULL,
	[pitanje_6] [nvarchar](100) NULL,
	[pitanje_7] [nvarchar](100) NULL,
 CONSTRAINT [PK_tmp_O_ZGRADI] PRIMARY KEY CLUSTERED 
(
	[id_objekta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmp_OBJEKAT]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_OBJEKAT](
	[id_popisivac] [int] NOT NULL,
	[id_osobe] [int] NOT NULL,
	[id_objekta] [int] NOT NULL,
	[opstina] [nvarchar](100) NOT NULL,
	[naselje] [nvarchar](100) NOT NULL,
	[ulica] [nvarchar](100) NOT NULL,
	[broj_objekta] [nvarchar](10) NOT NULL,
	[broj_stana] [nvarchar](10) NULL,
 CONSTRAINT [PK_tmp_OBJEKAT] PRIMARY KEY CLUSTERED 
(
	[id_osobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmp_OBRAZOVANJE]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_OBRAZOVANJE](
	[id_popisivac] [int] NOT NULL,
	[id_osobe] [int] NOT NULL,
	[pitanje_15] [nvarchar](100) NULL,
	[pitanje_16] [nvarchar](100) NOT NULL,
	[pitanje_16_1opstina] [nvarchar](100) NULL,
	[pitanje_16_1naselje] [nvarchar](100) NULL,
	[pitanje_16_1naziv] [nvarchar](100) NULL,
	[pitanje_16_1ulica] [nvarchar](100) NULL,
	[pitanje_16_1broj] [nvarchar](10) NULL,
	[pitanje_16_1drzava] [nvarchar](100) NULL,
	[pitanje_16_2] [nvarchar](100) NULL,
	[pitanje_17] [nvarchar](100) NULL,
	[pitanje_18] [nvarchar](200) NULL,
 CONSTRAINT [PK_tmp_OBRAZOVANJE] PRIMARY KEY CLUSTERED 
(
	[id_osobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmp_OSOBA]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_OSOBA](
	[id_popisivac] [int] NOT NULL,
	[id_osobe] [int] NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
	[pol] [nvarchar](50) NOT NULL,
	[datum_rodjenja] [date] NOT NULL,
	[maticni_broj] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tmp_OSOBA] PRIMARY KEY CLUSTERED 
(
	[id_osobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmp_PREVOZ]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_PREVOZ](
	[id_popisivac] [int] NOT NULL,
	[id_osobe] [int] NOT NULL,
	[pitanje31] [nvarchar](100) NULL,
 CONSTRAINT [PK_tmp_PREVOZ] PRIMARY KEY CLUSTERED 
(
	[id_osobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UPRAVNI_OKRUG]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UPRAVNI_OKRUG](
	[id_okruga] [int] IDENTITY(0,1) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[sifra_nstj2] [nvarchar](5) NOT NULL,
	[sifra_okruga] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_UPRAVNI_OKRUG] PRIMARY KEY CLUSTERED 
(
	[sifra_okruga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NSTJ1]    Script Date: 13.01.2024. 20:51:23 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NSTJ1] ON [dbo].[NSTJ1]
(
	[sifra_oblasti] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NSTJ2_1]    Script Date: 13.01.2024. 20:51:23 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NSTJ2_1] ON [dbo].[NSTJ2]
(
	[sifra_oblasti] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OBJEKAT]    Script Date: 13.01.2024. 20:51:23 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_OBJEKAT] ON [dbo].[OBJEKAT]
(
	[id_objekta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OPSTINA]    Script Date: 13.01.2024. 20:51:23 ******/
CREATE NONCLUSTERED INDEX [IX_OPSTINA] ON [dbo].[OPSTINA]
(
	[sifra_okruga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OSOBA_1]    Script Date: 13.01.2024. 20:51:23 ******/
CREATE NONCLUSTERED INDEX [IX_OSOBA_1] ON [dbo].[OSOBA]
(
	[id_popisivac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_POPISIVAC]    Script Date: 13.01.2024. 20:51:23 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_POPISIVAC] ON [dbo].[POPISIVAC]
(
	[maticni_broj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tmp_BRACNI_STATUS_FERTILITET]    Script Date: 13.01.2024. 20:51:23 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tmp_BRACNI_STATUS_FERTILITET] ON [dbo].[tmp_BRACNI_STATUS_FERTILITET]
(
	[id_popisivac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tmp_EKONOMSKA_AKTIVNOST]    Script Date: 13.01.2024. 20:51:23 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tmp_EKONOMSKA_AKTIVNOST] ON [dbo].[tmp_EKONOMSKA_AKTIVNOST]
(
	[id_popisivac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tmp_ETNO_KULTURA]    Script Date: 13.01.2024. 20:51:23 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tmp_ETNO_KULTURA] ON [dbo].[tmp_ETNO_KULTURA]
(
	[id_popisivac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tmp_FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST]    Script Date: 13.01.2024. 20:51:23 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tmp_FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST] ON [dbo].[tmp_FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST]
(
	[id_popisivac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tmp_MIGRACIJE]    Script Date: 13.01.2024. 20:51:23 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tmp_MIGRACIJE] ON [dbo].[tmp_MIGRACIJE]
(
	[id_popisivac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tmp_O_DOMACINSTVU]    Script Date: 13.01.2024. 20:51:23 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tmp_O_DOMACINSTVU] ON [dbo].[tmp_O_DOMACINSTVU]
(
	[id_popisivac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tmp_O_STANU]    Script Date: 13.01.2024. 20:51:23 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tmp_O_STANU] ON [dbo].[tmp_O_STANU]
(
	[id_popisivac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tmp_O_ZGRADI]    Script Date: 13.01.2024. 20:51:23 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tmp_O_ZGRADI] ON [dbo].[tmp_O_ZGRADI]
(
	[id_popisivac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EKONOMSKA_AKTIVNOST] ADD  CONSTRAINT [DF_EKONOMSKA_AKTIVNOST_pitanje19]  DEFAULT (NULL) FOR [pitanje19]
GO
ALTER TABLE [dbo].[EKONOMSKA_AKTIVNOST] ADD  CONSTRAINT [DF_EKONOMSKA_AKTIVNOST_pitanje20]  DEFAULT (NULL) FOR [pitanje20]
GO
ALTER TABLE [dbo].[EKONOMSKA_AKTIVNOST] ADD  CONSTRAINT [DF_EKONOMSKA_AKTIVNOST_pitanje21]  DEFAULT (NULL) FOR [pitanje21]
GO
ALTER TABLE [dbo].[EKONOMSKA_AKTIVNOST] ADD  CONSTRAINT [DF_EKONOMSKA_AKTIVNOST_pitanje22]  DEFAULT (NULL) FOR [pitanje22]
GO
ALTER TABLE [dbo].[EKONOMSKA_AKTIVNOST] ADD  CONSTRAINT [DF_EKONOMSKA_AKTIVNOST_pitanje23]  DEFAULT (NULL) FOR [pitanje23]
GO
ALTER TABLE [dbo].[EKONOMSKA_AKTIVNOST] ADD  CONSTRAINT [DF_EKONOMSKA_AKTIVNOST_pitanje24]  DEFAULT (NULL) FOR [pitanje24]
GO
ALTER TABLE [dbo].[EKONOMSKA_AKTIVNOST] ADD  CONSTRAINT [DF_EKONOMSKA_AKTIVNOST_pitanje25]  DEFAULT (NULL) FOR [pitanje25]
GO
ALTER TABLE [dbo].[EKONOMSKA_AKTIVNOST] ADD  CONSTRAINT [DF_EKONOMSKA_AKTIVNOST_pitanje26]  DEFAULT (NULL) FOR [pitanje26]
GO
ALTER TABLE [dbo].[EKONOMSKA_AKTIVNOST] ADD  CONSTRAINT [DF_EKONOMSKA_AKTIVNOST_pitanje27]  DEFAULT (NULL) FOR [pitanje27]
GO
ALTER TABLE [dbo].[EKONOMSKA_AKTIVNOST] ADD  CONSTRAINT [DF_EKONOMSKA_AKTIVNOST_pitanje28_opstina]  DEFAULT (NULL) FOR [pitanje28_opstina]
GO
ALTER TABLE [dbo].[EKONOMSKA_AKTIVNOST] ADD  CONSTRAINT [DF_EKONOMSKA_AKTIVNOST_pitanje28_naselje]  DEFAULT (NULL) FOR [pitanje28_naselje]
GO
ALTER TABLE [dbo].[EKONOMSKA_AKTIVNOST] ADD  CONSTRAINT [DF_EKONOMSKA_AKTIVNOST_pitanje28_ulica]  DEFAULT (NULL) FOR [pitanje28_ulica]
GO
ALTER TABLE [dbo].[EKONOMSKA_AKTIVNOST] ADD  CONSTRAINT [DF_EKONOMSKA_AKTIVNOST_pitanje28_broj]  DEFAULT (NULL) FOR [pitanje28_broj]
GO
ALTER TABLE [dbo].[EKONOMSKA_AKTIVNOST] ADD  CONSTRAINT [DF_EKONOMSKA_AKTIVNOST_pitanje29]  DEFAULT (NULL) FOR [pitanje29]
GO
ALTER TABLE [dbo].[EKONOMSKA_AKTIVNOST] ADD  CONSTRAINT [DF_EKONOMSKA_AKTIVNOST_pitanje30]  DEFAULT (NULL) FOR [pitanje30]
GO
ALTER TABLE [dbo].[FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST] ADD  CONSTRAINT [DF_FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST_pitanje32_1]  DEFAULT (NULL) FOR [pitanje32_1]
GO
ALTER TABLE [dbo].[FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST] ADD  CONSTRAINT [DF_FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST_pitanje32_2]  DEFAULT (NULL) FOR [pitanje32_2]
GO
ALTER TABLE [dbo].[FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST] ADD  CONSTRAINT [DF_FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST_pitanje32_3]  DEFAULT (NULL) FOR [pitanje32_3]
GO
ALTER TABLE [dbo].[FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST] ADD  CONSTRAINT [DF_FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST_pitanje32_4]  DEFAULT (NULL) FOR [pitanje32_4]
GO
ALTER TABLE [dbo].[FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST] ADD  CONSTRAINT [DF_FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST_pitanje32_5]  DEFAULT (NULL) FOR [pitanje32_5]
GO
ALTER TABLE [dbo].[FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST] ADD  CONSTRAINT [DF_FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST_pitanje32_6]  DEFAULT (NULL) FOR [pitanje32_6]
GO
ALTER TABLE [dbo].[NSTJ1] ADD  CONSTRAINT [DF_NSTJ1_sifra_oblasti]  DEFAULT (' ') FOR [sifra_oblasti]
GO
ALTER TABLE [dbo].[NSTJ2] ADD  CONSTRAINT [DF_NSTJ2_sifra_oblasti]  DEFAULT (' ') FOR [sifra_oblasti]
GO
ALTER TABLE [dbo].[NSTJ2] ADD  CONSTRAINT [DF_NSTJ2_sifra_nstj1]  DEFAULT (' ') FOR [sifra_nstj1]
GO
ALTER TABLE [dbo].[OBJEKAT] ADD  CONSTRAINT [DF_OBJEKAT_broj_stana]  DEFAULT (NULL) FOR [broj_stana]
GO
ALTER TABLE [dbo].[PREVOZ] ADD  CONSTRAINT [DF_PREVOZ_pitanje31]  DEFAULT (NULL) FOR [pitanje31]
GO
ALTER TABLE [dbo].[UPRAVNI_OKRUG] ADD  CONSTRAINT [DF_UPRAVNI_OKRUG_sifra_nstj2]  DEFAULT (' ') FOR [sifra_nstj2]
GO
ALTER TABLE [dbo].[BRACNI_STATUS_FERTILITET]  WITH CHECK ADD  CONSTRAINT [FK_BRACNISTATUSFERTILITET_OSOBA] FOREIGN KEY([id_osobe])
REFERENCES [dbo].[OSOBA] ([id_osobe])
GO
ALTER TABLE [dbo].[BRACNI_STATUS_FERTILITET] CHECK CONSTRAINT [FK_BRACNISTATUSFERTILITET_OSOBA]
GO
ALTER TABLE [dbo].[EKONOMSKA_AKTIVNOST]  WITH CHECK ADD  CONSTRAINT [FK_EKONOMSKA_AKTIVNOST_OSOBA] FOREIGN KEY([id_osobe])
REFERENCES [dbo].[OSOBA] ([id_osobe])
GO
ALTER TABLE [dbo].[EKONOMSKA_AKTIVNOST] CHECK CONSTRAINT [FK_EKONOMSKA_AKTIVNOST_OSOBA]
GO
ALTER TABLE [dbo].[ETNO_KULTURA]  WITH CHECK ADD  CONSTRAINT [FK_ETNO_KULTURA_OSOBA] FOREIGN KEY([id_osobe])
REFERENCES [dbo].[OSOBA] ([id_osobe])
GO
ALTER TABLE [dbo].[ETNO_KULTURA] CHECK CONSTRAINT [FK_ETNO_KULTURA_OSOBA]
GO
ALTER TABLE [dbo].[FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST]  WITH CHECK ADD  CONSTRAINT [FK_FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST_OSOBA] FOREIGN KEY([id_osobe])
REFERENCES [dbo].[OSOBA] ([id_osobe])
GO
ALTER TABLE [dbo].[FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST] CHECK CONSTRAINT [FK_FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST_OSOBA]
GO
ALTER TABLE [dbo].[GRAD]  WITH CHECK ADD  CONSTRAINT [FK_GRAD_UPRAVNI_OKRUG] FOREIGN KEY([sifra_okruga])
REFERENCES [dbo].[UPRAVNI_OKRUG] ([sifra_okruga])
GO
ALTER TABLE [dbo].[GRAD] CHECK CONSTRAINT [FK_GRAD_UPRAVNI_OKRUG]
GO
ALTER TABLE [dbo].[MIGRACIJE]  WITH CHECK ADD  CONSTRAINT [FK_MIGRACIJE_OSOBA] FOREIGN KEY([id_osobe])
REFERENCES [dbo].[OSOBA] ([id_osobe])
GO
ALTER TABLE [dbo].[MIGRACIJE] CHECK CONSTRAINT [FK_MIGRACIJE_OSOBA]
GO
ALTER TABLE [dbo].[NASELJE]  WITH CHECK ADD  CONSTRAINT [FK_NASELJE_OPSTINA] FOREIGN KEY([sifra_opstine])
REFERENCES [dbo].[OPSTINA] ([sifra_opstine])
GO
ALTER TABLE [dbo].[NASELJE] CHECK CONSTRAINT [FK_NASELJE_OPSTINA]
GO
ALTER TABLE [dbo].[NSTJ2]  WITH CHECK ADD  CONSTRAINT [FK_NSTJ2_NSTJ1] FOREIGN KEY([sifra_nstj1])
REFERENCES [dbo].[NSTJ1] ([sifra_oblasti])
GO
ALTER TABLE [dbo].[NSTJ2] CHECK CONSTRAINT [FK_NSTJ2_NSTJ1]
GO
ALTER TABLE [dbo].[O_DOMACINSTVU]  WITH CHECK ADD  CONSTRAINT [FK_O_DOMACINSTVU_OBJEKAT] FOREIGN KEY([id_objekta])
REFERENCES [dbo].[OBJEKAT] ([id_objekta])
GO
ALTER TABLE [dbo].[O_DOMACINSTVU] CHECK CONSTRAINT [FK_O_DOMACINSTVU_OBJEKAT]
GO
ALTER TABLE [dbo].[O_STANU]  WITH CHECK ADD  CONSTRAINT [FK_O_STANU_OBJEKAT] FOREIGN KEY([id_objekta])
REFERENCES [dbo].[OBJEKAT] ([id_objekta])
GO
ALTER TABLE [dbo].[O_STANU] CHECK CONSTRAINT [FK_O_STANU_OBJEKAT]
GO
ALTER TABLE [dbo].[O_ZGRADI]  WITH CHECK ADD  CONSTRAINT [FK_O_ZGRADI_OBJEKAT] FOREIGN KEY([id_objekta])
REFERENCES [dbo].[OBJEKAT] ([id_objekta])
GO
ALTER TABLE [dbo].[O_ZGRADI] CHECK CONSTRAINT [FK_O_ZGRADI_OBJEKAT]
GO
ALTER TABLE [dbo].[OBJEKAT]  WITH CHECK ADD  CONSTRAINT [FK_OBJEKAT_OSOBA] FOREIGN KEY([id_osobe])
REFERENCES [dbo].[OSOBA] ([id_osobe])
GO
ALTER TABLE [dbo].[OBJEKAT] CHECK CONSTRAINT [FK_OBJEKAT_OSOBA]
GO
ALTER TABLE [dbo].[OBRAZOVANJE]  WITH CHECK ADD  CONSTRAINT [FK_OBRAZOVANJE_OSOBA] FOREIGN KEY([id_osobe])
REFERENCES [dbo].[OSOBA] ([id_osobe])
GO
ALTER TABLE [dbo].[OBRAZOVANJE] CHECK CONSTRAINT [FK_OBRAZOVANJE_OSOBA]
GO
ALTER TABLE [dbo].[OPSTINA]  WITH CHECK ADD  CONSTRAINT [FK_OPSTINA_UPRAVNI_OKRUG] FOREIGN KEY([sifra_okruga])
REFERENCES [dbo].[UPRAVNI_OKRUG] ([sifra_okruga])
GO
ALTER TABLE [dbo].[OPSTINA] CHECK CONSTRAINT [FK_OPSTINA_UPRAVNI_OKRUG]
GO
ALTER TABLE [dbo].[OSOBA]  WITH NOCHECK ADD  CONSTRAINT [FK_OSOBA_POPISIVAC] FOREIGN KEY([id_popisivac])
REFERENCES [dbo].[POPISIVAC] ([id_popisivaca])
GO
ALTER TABLE [dbo].[OSOBA] NOCHECK CONSTRAINT [FK_OSOBA_POPISIVAC]
GO
ALTER TABLE [dbo].[PREVOZ]  WITH CHECK ADD  CONSTRAINT [FK_PREVOZ_OSOBA] FOREIGN KEY([id_osobe])
REFERENCES [dbo].[OSOBA] ([id_osobe])
GO
ALTER TABLE [dbo].[PREVOZ] CHECK CONSTRAINT [FK_PREVOZ_OSOBA]
GO
ALTER TABLE [dbo].[UPRAVNI_OKRUG]  WITH CHECK ADD  CONSTRAINT [FK_UPRAVNI_OKRUG_NSTJ2] FOREIGN KEY([sifra_nstj2])
REFERENCES [dbo].[NSTJ2] ([sifra_oblasti])
GO
ALTER TABLE [dbo].[UPRAVNI_OKRUG] CHECK CONSTRAINT [FK_UPRAVNI_OKRUG_NSTJ2]
GO
/****** Object:  StoredProcedure [dbo].[brisanje_tmp_bracni_status]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[brisanje_tmp_bracni_status]( @id_popisivaca int)
as begin
delete from tmp_BRACNI_STATUS_FERTILITET
where id_popisivac=@id_popisivaca
end
GO
/****** Object:  StoredProcedure [dbo].[brisanje_tmp_domacinstvo]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[brisanje_tmp_domacinstvo]( @id_popisivaca int)
as begin
delete from tmp_O_DOMACINSTVU
where id_popisivac=@id_popisivaca
end
GO
/****** Object:  StoredProcedure [dbo].[brisanje_tmp_eko_aktivnost]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[brisanje_tmp_eko_aktivnost]( @id_popisivaca int)
as begin
delete from tmp_EKONOMSKA_AKTIVNOST
where id_popisivac=@id_popisivaca
end
GO
/****** Object:  StoredProcedure [dbo].[brisanje_tmp_etno]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[brisanje_tmp_etno]( @id_popisivaca int)
as begin
delete from tmp_ETNO_KULTURA
where id_popisivac=@id_popisivaca
end
GO
/****** Object:  StoredProcedure [dbo].[brisanje_tmp_migracije]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[brisanje_tmp_migracije]( @id_popisivaca int)
as begin
delete from tmp_MIGRACIJE
where id_popisivac=@id_popisivaca
end
GO
/****** Object:  StoredProcedure [dbo].[brisanje_tmp_objekat]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[brisanje_tmp_objekat]( @id_popisivaca int)
as begin
delete from tmp_OBJEKAT
where id_popisivac=@id_popisivaca
end
GO
/****** Object:  StoredProcedure [dbo].[brisanje_tmp_obrazovanje]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[brisanje_tmp_obrazovanje]( @id_popisivaca int)
as begin
delete from tmp_OBRAZOVANJE
where id_popisivac=@id_popisivaca
end
GO
/****** Object:  StoredProcedure [dbo].[brisanje_tmp_osoba]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[brisanje_tmp_osoba]( @id_popisivaca int)
as begin
delete from tmp_OSOBA
where id_popisivac=@id_popisivaca
end
GO
/****** Object:  StoredProcedure [dbo].[brisanje_tmp_prevoz]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[brisanje_tmp_prevoz]( @id_popisivaca int)
as begin
delete from tmp_PREVOZ
where id_popisivac=@id_popisivaca
end
GO
/****** Object:  StoredProcedure [dbo].[brisanje_tmp_soc_inte]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[brisanje_tmp_soc_inte]( @id_popisivaca int)
as begin
delete from tmp_FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST
where id_popisivac=@id_popisivaca
end
GO
/****** Object:  StoredProcedure [dbo].[brisanje_tmp_stan]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[brisanje_tmp_stan]( @id_popisivaca int)
as begin
delete from tmp_O_STANU
where id_popisivac=@id_popisivaca
end
GO
/****** Object:  StoredProcedure [dbo].[brisanje_tmp_zgrada]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[brisanje_tmp_zgrada]( @id_popisivaca int)
as begin
delete from tmp_O_ZGRADI
where id_popisivac=@id_popisivaca
end
GO
/****** Object:  StoredProcedure [dbo].[upis_reda_bracni_status]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[upis_reda_bracni_status](@id_popisivaca int)
as begin
insert into BRACNI_STATUS_FERTILITET
select * from tmp_BRACNI_STATUS_FERTILITET
where id_popisivac=@id_popisivaca 
end
GO
/****** Object:  StoredProcedure [dbo].[upis_reda_domacinstvo]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[upis_reda_domacinstvo](@id_popisivaca int)
as begin
insert into O_DOMACINSTVU
select * from tmp_O_DOMACINSTVU
where id_popisivac=@id_popisivaca 
end
GO
/****** Object:  StoredProcedure [dbo].[upis_reda_eko_akt]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[upis_reda_eko_akt](@id_popisivaca int)
as begin
insert into EKONOMSKA_AKTIVNOST
select * from tmp_EKONOMSKA_AKTIVNOST
where id_popisivac=@id_popisivaca 
end
GO
/****** Object:  StoredProcedure [dbo].[upis_reda_etno]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[upis_reda_etno](@id_popisivaca int)
as begin
insert into ETNO_KULTURA
select * from tmp_ETNO_KULTURA
where id_popisivac=@id_popisivaca 
end
GO
/****** Object:  StoredProcedure [dbo].[upis_reda_migracije]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[upis_reda_migracije](@id_popisivaca int)
as begin
insert into MIGRACIJE
select * from tmp_MIGRACIJE
where id_popisivac=@id_popisivaca 
end
GO
/****** Object:  StoredProcedure [dbo].[upis_reda_objekat]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[upis_reda_objekat](@id_popisivaca int)
as begin
insert into OBJEKAT
select * from tmp_OBJEKAT
where id_popisivac=@id_popisivaca 
end
GO
/****** Object:  StoredProcedure [dbo].[upis_reda_obrazovanje]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[upis_reda_obrazovanje](@id_popisivaca int)
as begin
insert into OBRAZOVANJE
select * from tmp_OBRAZOVANJE
where id_popisivac=@id_popisivaca 
end
GO
/****** Object:  StoredProcedure [dbo].[upis_reda_osoba]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[upis_reda_osoba](@id_popisivaca int)
as begin
insert into OSOBA
select * from tmp_OSOBA
where id_popisivac=@id_popisivaca 
end
GO
/****** Object:  StoredProcedure [dbo].[upis_reda_prevoz]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[upis_reda_prevoz](@id_popisivaca int)
as begin
insert into PREVOZ
select * from tmp_PREVOZ
where id_popisivac=@id_popisivaca 
end
GO
/****** Object:  StoredProcedure [dbo].[upis_reda_soc_int]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[upis_reda_soc_int](@id_popisivaca int)
as begin
insert into FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST
select * from tmp_FUNKCIONISANJE_SOCIJALNA_INTEGRISANOST
where id_popisivac=@id_popisivaca 
end
GO
/****** Object:  StoredProcedure [dbo].[upis_reda_stan]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[upis_reda_stan](@id_popisivaca int)
as begin
insert into O_STANU
select * from tmp_O_STANU
where id_popisivac=@id_popisivaca 
end
GO
/****** Object:  StoredProcedure [dbo].[upis_reda_zgrada]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[upis_reda_zgrada](@id_popisivaca int)
as begin
insert into O_ZGRADI
select * from tmp_O_ZGRADI
where id_popisivac=@id_popisivaca 
end
GO
/****** Object:  StoredProcedure [dbo].[upit_1]    Script Date: 13.01.2024. 20:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[upit_1](@id_osobe int)
as begin
select * from tmp_OSOBA
where id_osobe=@id_osobe 
end
GO
USE [master]
GO
